
@font-face {
    font-family: "iranSanse";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/IRANSansWeb.woff) format("woff");
}
body,h1,h2,h3,h4,h5,h6{
    font-family: "iranSanse"!important;
}
.cursor-pointer{
    cursor: pointer;
}
tr {
    line-height: 35px;

}

/*color*/
.bg-custom-primary{
    /*background-color:#3498db;*/
    background-color:#2980b9;
}
.bg-custom-success{
/*background-color:#27ae60 ;*/
background-color:#2ecc71 ;
}
.bg-custom-danger{
background-color:#e74c3c ;
}
.text-custom-danger{
color:#e74c3c ;
}
.text-custom-primary{
color:#2980b9 ;
}
.btn-custom-success {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;


}

.btn-custom-success:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.btn-custom-success:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
.btn-custom-danger {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(176, 58, 46, 1) 0%, rgba(231, 76, 60, 1) 100%);

    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;


}

.btn-custom-danger:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.btn-custom-danger:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.btn-custom-secondary {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(169, 169, 169, 1) 0%, rgba(192, 192, 192, 1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;


}

.btn-custom-secondary:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.btn-custom-secondary:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.custom-badge{
    width: 65px;
    border-radius: 20em;
}

